---
import Layout from "../layouts/Layout.astro";
import srcImage from "../assets/KhonKaenTripCoverMobile.jpeg"
import Logo from "../assets/amazing-thailand.png"
import Location from "../assets/Phuphaman.webp"
const title = "Khon Kaen Trip";
const description = "สร้างเว็บไซต์ให้ปลอดภัย ไม่ต้องคอยดูแล";
---

<Layout title={title} description={description}>
  <div class="bg-white">
    <div class="into-khonkaen-trip relative lg:w-10/12 lg:p-6 mx-auto">
      <img class="lg:hidden" src={srcImage.src} alt="" loading="lazy"/>
      <img class="hidden rounded-lg lg:block w-full object-cover" src={Location.src} alt="" loading="lazy"/ alt="">
      <div class="absolute top-2.5 left-0 right-0 pt-10">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 text-center">
          <div class="mx-auto max-w-2xl">
            <h2 class="text-5xl font-bold tracking-tight text-white sm:text-6xl">
              <img class="m-auto h-10 rounded-full" src={Logo.src} alt=""/ loading="lazy">
              <span class="block mt-4 font-handwriting font-semibold text-3xl">Welcome To </span>
              Khon Kaen
            </h2>
          </div>
          
        </div>
      </div>
      <div class="absolute bottom-2.5 left-0 right-0">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl">
            <p class="mt-6 text-lg leading-6 text-gray-100">
              <b>ขอนแก่น ทริป</b> แนะนำเส้นทางท่องเที่ยวขอนแก่น ฉบับเดินทางด้วยตนเองง่ายๆ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PHOTO -->

  <!-- TRIP -->
  <div class="lg:w-10/12 p-6 mx-auto grid grid-cols-1 lg:gap-x-20 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 mb-0">
        <a class="text-lg font-semibold text-white sm:text-slate-900 md:text-4xl hover:sm:text-slate-900" href="/tasting-menu-made-in-khon-kaen"> Made in KhonKaen</a>
      </h1>
      <div class="font-handwriting font-semibold text-orange-600 text-3xl">Trip 1</div>
    </div>

    <a href="/tasting-menu-made-in-khon-kaen" class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img src="https://cdn.readthecloud.co/wp-content/uploads/2022/05/29111751/kaendining-36.jpg" alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
      <img src="https://cdn.readthecloud.co/wp-content/uploads/2024/05/08154726/tasting-menu-made-in-khon-kaen-59.jpg" alt="" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
      <img src="https://cdn.readthecloud.co/wp-content/uploads/2024/05/08160017/tasting-menu-made-in-khon-kaen-103.jpg" alt="" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
    </a>

    <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2 text-slate-800">
      <dd class="flex items-center">
        โดย การท่องเที่ยวแห่งประเทศไทย สำนักงานขอนแก่น
      </dd>
    </dl>
    <p class="mt-4 text-base leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 text-slate-800">
      <b>ทริปตามเส้นทาง The Cloud 8 จุดท่องเที่ยวเชิงอาหารในขอนแก่น</b> ทริปนี้จะเติมความสุขกับกรเดินทางไปยังสถานที่ดังนี้  ‘ร้านแก่น’, เยือนชุมชนสาวะถี, ชมวิธีทำเกลือบ่อกฐิน ล่องแก่งละว้าจับปลา, ร้านกาแฟบ้านหลังวัด, เยี่ยมชมฟาร์มหมูของกลุ่มวิสาหกิจชุมชนหมูหลุม โนนศิลา, จับกุ้งก้ามกรามตัวใหญ่จากเขื่อนอุบลรัตน์ ชิมกาแฟที่ไร่กาแฟนายจันทร์ X Faffeine Cafe, เดินชมสวนที่ มีกินฟาร์ม
      <br>
      <br>
      <a class="rounded-full inline-block px-4 py-2 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20" href="/tasting-menu-made-in-khon-kaen">
        <span class="text-base font-semibold text-gray-900 hover:text-gray-900">ดูเส้นทางทริปนี้<span aria-hidden="true"> →</span></span>
      </a>
    </p>
  </div>

   <div class="lg:w-10/12 lg:p-6 mx-auto p-6">
    <div class="features grid grid-cols-3 gap-4 text-gray-800">
      <div class="feature-photo">
        <figure>
          <img
            class="_redius"
            src="https://cdn.readthecloud.co/wp-content/uploads/2023/03/29061715/kaeng-lawa-khon-kaen-52.jpg"
          />
        </figure>
        <div class="figcaption">
          <h2 class="_h5">ทริปเที่ยววิถีสีชมพู :)</h2>
          <p class="hidden md:block">ท่องเที่ยว ในแบบ วิถีชุมชนอันสงบ เรียบ ง่ายท่ามกลาง ธรรมชาติ</p>
        </div>
      </div>
      <div class="feature-photo">
        <figure>
          <img
            class="_redius"
            src="https://cdn.readthecloud.co/wp-content/uploads/2024/05/08155354/tasting-menu-made-in-khon-kaen-83.jpg"
          />
        </figure>
        <div class="figcaption">
          <h2 class="_h5">ทริปเที่ยวภูผาม่าน :)</h2>
          <p class="hidden md:block">ยมพื้นถิ่นไทภู ชมวิวหนองสมอ เที่ยววัดเก่าแก่ ทานอาหารพื้นบ้าน</p>
        </div>
      </div>
      <div class="feature-photo">
        <figure>
          <img
            class="_redius"
            src="https://cdn.readthecloud.co/wp-content/uploads/2024/05/08160146/tasting-menu-made-in-khon-kaen-71.jpg"
          />
        </figure>
        <div class="figcaption">
          <h2 class="_h5">เที่ยวขอนแก่น</h2>
          <p class="hidden md:block">ท่องเที่ยว ในแบบ วิถีชุมชนอันสงบ เที่ยววัดเก่าแก่ ทานอาหารพื้นบ้าน</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <style 'scss'>
    .hero {
      padding: calc(3 * var(--s-space)) var(--s-space);
      background-color: var(--s-bg-2);
    }

    .homestay-info {
      position: relative;
    }
    .logo {
      display: inline-flex;
      align-items: center;
      font-size: 40px;
      gap: 10px;
      margin: 0 auto var(--s-space);
      line-height: 1;
    }
    .feature {
      background-color: var(--s-bg-1);
      border-radius: 10px;
      box-shadow: var(--s-shadow-2);
      padding: var(--s-space);
    }

    .feature-photo h2 {
      margin-top: calc(var(--s-space) / 3);
      margin-bottom: 0;
    }

    .feature p {
      opacity: 0.8;
      line-height: 1.4;
    }

    .amenities-lists ._h2 {
      margin-bottom: 1em;
    }

    .amenities-lists p {
      font-size: 0.95em;
      margin-bottom: 0;
    }

    .feature h2 {
      margin: 0 0 10px 0;
    }
    .title {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .section-qa {
      padding-top: var(--s-space);
      border-top: 1px solid var(--s-border-1);
      margin-top: calc(3 * var(--s-space));
    }

    h3 {
      margin-bottom: 20px;
    }
    h3 small {
      font-weight: normal;
      font-size: 0.75em;
      display: block;
      padding: 6px 0;
    }
    .steps {
      border-radius: 10px;
      overflow: hidden;
      background-color: var(--s-bg-1);
      box-shadow: var(--s-shadow-1);
      padding-left: 0;
    }
    .step {
      display: flex;
      align-items: center;
      gap: var(--s-gap);
      padding: var(--s-gap);
      border-bottom: 1px solid var(--s-border-2);
    }
    .step:last-child {
      border-bottom: none;
    }
    .step svg {
      flex-shrink: 0;
    }
    .step h4 {
      font-size: 1.25em;
      margin-bottom: 6px;
    }
    .step > div {
      text-align: left;
    }
    @media (max-width: 400px) {
      .step {
        flex-direction: column;
      }
    }

    .btn-product {
      min-width: 300px;
      display: flex;
      flex-wrap: wrap;
      box-shadow: var(--s-shadow-2);
      margin-bottom: var(--s-space);
      > div {
        flex-grow: 1;
        padding: 8px 12px 12px 14px;
      }

      .label {
        font-size: 0.875em;
        padding-top: 2px;
      }
    }

    .btn-product strong,
    .btn-product .large {
      font-size: 1.4em;
    }

    .btn-product .border {
      border-left: 1px solid var(--s-border-2);
    }
  </style>
</Layout>
