---
import Layout from '../layouts/Layout.astro';
import Logo from "../assets/amazing-thailand.png"
import iKaen from "../assets/IKaen.jpg"
import iKaen1 from "../assets/IKaen1.jpg"
import iKaen2 from "../assets/IKaen2.jpg"

import srcImage from "../assets/KhonKaenTrip.jpeg"
import Trip_3 from "../assets/KhonKaenTrip_2.jpg"
import Trip_4 from "../assets/KhonKaenTrip_3.jpg"
import Trip_5 from "../assets/KhonKaenTrip_5.jpg"

import Trip_6 from "../assets/KhonKaenTrip_6.jpg"
import Trip_7 from "../assets/KhonKaenTrip_7.jpg"
import Trip_8 from "../assets/KhonKaenTrip_8.jpg"

import Trip_9 from "../assets/KhonKaenTrip_9.jpg"
import Trip_10 from "../assets/KhonKaenTrip_10.jpg"
import Trip_11 from "../assets/KhonKaenTrip_11.jpg"

import Trip_12 from "../assets/KhonKaenTrip_12.jpg"
import Trip_13 from "../assets/KhonKaenTrip_13.jpg"
import Trip_14 from "../assets/KhonKaenTrip_14.jpg"


const title = 'Made in Khon Kaen';
const description = 'This is a prompt page';
---

<Layout title={title} description={description}>
  <div class='text-center cover-trip bg-white'>
    <figure class="text-center">
      <img class="cover-photo _redius w-full object-cover" loading="lazy" src={srcImage.src} alt=""/>
    </figure>
    <div class="text-center md:hidden p-6">
      <img class="m-auto h-12 rounded-full" style="margin-top: -100px;" src={Logo.src} alt=""/ loading="lazy">
      <h1 class="mt-12 mb-10 font-handwriting font-semibold text-6xl text-gray-900">Made in <br> Khon Kaen</h1>
      <p class="pl-6 pr-6">ตามรอยเส้นทางวัตถุดิบ <br> Made in Khon Kaen</p>
    </div>
  </p>
  </div>

  <div class="max-w-4xl p-6 mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 mb-0 text-2xl font-semibold text-white sm:text-slate-900 md:text-4xl">ร้านแก่น |  KAEN</h1>
      <div class="font-handwriting font-semibold text-orange-600 text-3xl">Trip 1</div>
    </div>
    <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">

      <img src={iKaen.src} alt="ร้านแก่น | KAEN" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">

      <img src={iKaen1.src} alt="" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">

      <img src={iKaen2.src} alt="" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">

    </div>
    <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
      <dd class="flex items-center">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 text-slate-400 dark:text-slate-500" aria-hidden="true">
          <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z" />
          <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
        </svg>
        วัน-เวลาทำการ : 11.00 – 15.00 และ 17.00 – 21.00 น. (หยุดทุกวันอังคาร)
      </dd>
    </dl>
    <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <a href="tel:+6683-912-8659" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <span>โทรศัพท์</span>
      </a>
      <a href="https://maps.app.goo.gl/6UsbSuDYP7RpUgjx5" target="_blank" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polygon points="3 11 22 2 13 21 11 13 3 11" /></svg>
        <span>แผนที่การเดินทาง</span>
      </a>
    </div>
    <p class="mt-4 text-base leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-800">
      ร้านที่นำเสนออาหารไทย-อีสานร่วมสมัย ยกระดับอาหารให้มีมูลค่าเพิ่มด้วยการใช้วัตถุดิบของท้องถิ่นอีสานและความคิดสร้างสรรค์มาผสมผสานได้อย่างลงตัว
    </p>
  </div>

  <br>
  <!-- NO. 2 -->
  <div class="max-w-4xl p-6 mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 mb-0 text-2xl font-semibold text-white sm:text-slate-900 md:text-4xl">เที่ยวสาวะถีวิถีสุข ฮูปแต้ม</h1>
      <div class="font-handwriting font-semibold text-orange-600 text-3xl">Trip 2</div>
    </div>

    <!--  -->
    <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img src={Trip_5.src} alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
      <img src={Trip_4.src} alt="" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
      <img src={Trip_3.src} alt="" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
    </div>
    <!--  -->

    <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
      <dd class="flex items-center">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 text-slate-400 dark:text-slate-500" aria-hidden="true">
          <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z" />
          <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
        </svg>
        กลุ่มวิสาหกิจเพื่อสังคมสาวะถี โทรศัพท์ 08 7640 6718 (ควรโทรแจ้งล่วงหน้า 3 วัน)
      </dd>
    </dl>
    <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <a href="tel:+6687-640-6718" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <span>โทรศัพท์</span>
      </a>
    </div>
    <p class="mt-4 text-base leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-800">
      ชุมชนสาวะถี ต.สาวะถี อ.เมือง จ.ขอนแก่น ชุมชนท่องเที่ยวเชิงวัฒนธรรมที่ต่อยอดภูมิปัญญาสู่ผลิตภัณฑ์และสินค้าพรีเมียม และได้รับรางวัลวิสาหกิจเพื่อสังคมดีเด่นระดับประเทศในปี 2566
    </p>
  </div>

  <!-- ล่องเรือชมธรรมชาติแก่งละว้า -->
  <br>
  <div class="max-w-4xl p-6 mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 mb-0 text-2xl font-semibold text-white sm:text-slate-900 md:text-4xl">ล่องเรือชมธรรมชาติแก่งละว้า</h1>
      <div class="font-handwriting font-semibold text-orange-600 text-3xl">Trip 3</div>
    </div>

    <!--  -->
    <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img src={Trip_6.src} alt="ล่องเรือชมธรรมชาติแก่งละว้า" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
      <img src={Trip_7.src} alt="ปลาร้าแก่งละว้า" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
      <img src={Trip_8.src} alt="Local Market" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
    </div>
    <!--  -->

    <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
      <dd class="flex items-center">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 text-slate-400 dark:text-slate-500" aria-hidden="true">
          <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z" />
          <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
        </svg>
        สนใจเที่ยวชมแก่งละว้า ติดต่อเครือข่ายชาวบ้านอนุรักษ์และฟื้นฟูแก่งละว้า
      </dd>
    </dl>
    <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <a href="tel:+6698-618-3622" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <span>โทรศัพท์</span>
      </a>
    </div>
    <p class="mt-4 text-base leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-800">
      “แก่งละว้า” พื้นที่หลากหลายทางระบบนิเวศ ที่อุดมไปด้วยวัตถุดิบท้องถิ่น ป่าที่เต็มไปด้วยเห็ดและแมลง ปลาหลากหลายสายพันธุ์ พืชน้ำที่ลอยตัว รวมไปถึง บัวสีต่าง ๆ ที่นี่มีบริเวณกว้าง ใหญ่ ครอบคลุม 3 อำเภอ บ้านไผ่ บ้านแฮด ชนบท มีความอุดมสมบูรณ์
    </p>
  </div>

  <!-- บ้านหลังวัด -->
  <br>
  <div class="max-w-4xl p-6 mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 mb-0 text-2xl font-semibold text-white sm:text-slate-900 md:text-4xl">ร้านกาแฟบ้านหลังวัด</h1>
      <div class="font-handwriting font-semibold text-orange-600 text-3xl">Trip 4</div>
    </div>

    <!--  -->
    <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img src={Trip_12.src} alt="ร้านกาแฟบ้านหลังวัด" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
      <img src={Trip_13.src} alt="ร้านกาแฟบ้านหลังวัด" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
      <img src={Trip_14.src} alt="Local Market ร้านกาแฟบ้านหลังวัด" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
    </div>
    <!--  -->

    <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
      <dd class="flex items-center">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 text-slate-400 dark:text-slate-500" aria-hidden="true">
          <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z" />
          <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
        </svg>
        เยี่ยมชม Local market revolution ตลาดหลังวัด ติดต่อได้ที่ น้องใบหม่อน
      </dd>
    </dl>
    <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <a href="tel:+6698-618-3622" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <span>โทรศัพท์</span>
        
        <a href="https://maps.app.goo.gl/TMveXT5tkQBAfdxs7" target="_blank" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
          <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polygon points="3 11 22 2 13 21 11 13 3 11" /></svg>
          <span>แผนที่การเดินทาง</span>
        </a>
      </a>

    </div>
    <p class="mt-4 text-base leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-800">
      ร้านกาแฟบ้านหลังวัดเป็นความฝันของเด็กสาวตัวน้อยที่อยากมีร้านกาแฟ ที่นี่ยังเป็นที่ตั้งของ  Local market revolution ตลาดหลังวัด ตลาดธรรมชาติ ตลาดเปลี่ยนโลก 
      พื้นที่เล็กๆที่สนใจมิติของอย่างยั่งยืน
    </p>
  </div>

  <!-- กลุ่มวิสาหกิจชุมชนหมูหลุม -->
  <br>
  <div class="max-w-4xl p-6 mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
    <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 mb-0 text-2xl font-semibold text-white sm:text-slate-900 md:text-4xl">กลุ่มวิสาหกิจชุมชนหมูหลุม</h1>
      <div class="font-handwriting font-semibold text-orange-600 text-3xl">Trip 5</div>
    </div>

    <!--  -->
    <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img src={Trip_9.src} alt="ฟาร์มหมูของกลุ่มวิสาหกิจชุมชนหมูหลุม" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
      <img src={Trip_10.src} alt="วิสาหกิจชุมชนหมูหลุม" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
      <img src={Trip_11.src} alt="ทริปวิสาหกิจชุมชนหมูหลุม" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
    </div>
    <!--  -->

    <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
      <dd class="flex items-center">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 text-slate-400 dark:text-slate-500" aria-hidden="true">
          <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z" />
          <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
        </svg>
        เยี่ยมชมฟาร์มหมูของกลุ่มวิสาหกิจชุมชนหมูหลุม 
      </dd>
    </dl>
    <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <a href="tel:+669-3305-0916" type="button" class="inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        <svg class="h-6 w-6 -ml-0.5 mr-1.5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <span>โทรศัพท์</span>
      </a>
    </div>
    <p class="mt-4 text-base leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-800">
      ตามรอยวัตถุดิบหมูหลุมออแกนิก เยือนชมกลุ่มวิสาหกิจชุมชนหมูหลุมตำบลบ้านหัน อำเภอโนนศิลา อุดหนุนสินค้าชมชน หากสนเยี่ยมชมฟาร์มหมูของกลุ่มวิสาหกิจชุมชนหมูหลุม ตำบลบ้านหัน อำเภอโนนศิลา ติดต่อได้ที่ แม่แป โทรศัพท์ 09 3305 0916
    </p>
  </div>


  <style 'scss'>
    .cover-trip {
      ._redius {
        border-radius: 0;
      }

      .cover-photo {
        height: 48vh;
      }
      @media (min-width: 640px) { 
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin: 48px auto;

        .cover-photo {
          height: 60vh;
        }

        ._redius {
          border-radius: 16px;
        }
      }

    }
  </style>
</Layout>